*{
    margin : 0 ;
    padding :0 ;
}
.logo1{

    height:80px;
}
#header1{

 text-align: right;   

}

h1{
    text-align: left;
}

    
.call{
    height:150px;
    background-color: bisque;
    background-repeat:no-repeat;
    
} 
a{
    text-align: right;
    padding: 15px;      
    
      
}


.menubar1{
    background:  black;
    border : 2px solid black;
    height: 40px;
    
}

li{
    border:1px solid blue;
    width:140px;
    text-align:center;
    background-color: rgb(111, 184, 226);
    color:black;
    height:30px;
    padding-top:1px;
    box-sizing:border-box;
    float:left;
    margin-left: 10px;
    cursor: pointer;
     
}
li:hover {
    border:1px solid blue;
    width:140px;
    text-align:center;
    background-color:rgb(90, 223, 145);
    color:white;
    height:30px;
    padding-top:1px;
    box-sizing:border-box;
    float:left;

}
a{
    text-decoration: none;
}
ul ul{
    margin-top:2px;
    margin-left:-40px;
    display:none;
}
ul li:hover ul{
    display: block;
}
ul ul li a {
    text-decoration: none;
}
ul ul li a:hover {
    text-decoration: underline;
}
ul li{
    margin-right: 3px;
}
ul{
    margin-top: 7px;
}

.navbar{
    text-align: right;
    font-size: 20px;
    padding-top: 1px;
} 


