
   /* h2{
        
        margin: auto;
        width: 150px;
        height: 150px;
        color: maroon;
        text-align: center;
        font-size: 40px;
        padding-right: 30px;
    }
    .cal1{
        padding: 50px;
        width: 400px;
        height: 300px;
        margin:auto;
        border-radius:90px;
       background-color: darkseagreen;
    
        
    }
    input{
        width: 300px;
        height:30px;
     }
     button{
         width:150px;
         height:40px;
         cursor: pointer;
         border-radius: 30px;
     }
     button:hover{
         text-decoration: underline;
         background-color: darkolivegreen;
        
     }

    body{

    background-color:salmon;
    background-size: cover;
    }

    a{
        padding: 80px;
    }
    a:hover{
     color: brown;
    }
   
    label{
        width: 240px;
        display: inline-block;  
     }                 */
  body {
    font-family: Arial, Helvetica, sans-serif;
     background-color: indianred;
}

form {
  border: 1px solid cadetblue;  
  padding : 30px;
  margin-right: 500px;
  margin-left: 500px;
  margin-top: 120px;
  background-color:linen;
  border-radius: 8px;
}

input[type=email], input[type=password] {
  width: 100%;
  padding: 10px;
  margin: 20px 0px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  
}
.cal{
  margin-top: 40px;
  
}
button {
  background-color: rgb(0,123,255);
  color: white;
  padding: 14px 20px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius:8px;
  cursor: pointer;
 
}
.cancel button {
  border : 1px solid blue;
  background-color: white;
}

h2{
  text-align: center;
  padding-bottom: 30px;

}

.cal1{
    margin-top: 30px;
  
}

.hr{
  margin-top: 25px;
}
 .cal1 a{
     color: black;
}
.cal1 a:hover{
  color:darkolivegreen;
}