
    h2{
        
        margin: auto;
        width: 150px;
        height: 150px;
        color: maroon;
        text-align: center;
        font-size: 40px;
        padding-right: 30px;
    }
    .cal1{
        padding: 50px;
        width: 400px;
        height: 300px;
        margin:auto;
        border-radius:90px;
       background-color: darkseagreen;
    
        
    }
    input{
        width: 300px;
        height:30px;
     }
     button{
         width:150px;
         height:40px;
         cursor: pointer;
         border-radius: 30px;
     }
     button:hover{
         text-decoration: underline;
         background-color: darkolivegreen;
        
     }

    body{

    background-color:salmon;
    background-size: cover;
    }

    a{
        padding: 80px;
    }
    a:hover{
     color: brown;
    }
    .logo{
        border-radius: 50%;
        position: absolute;
        width:100px;
        height:15%;
        right: 47%;
        top:280px;
    
    }
    label{
        width: 240px;
        display: inline-block;
        
    }