*{
    margin : 0 ;
    padding :0 ;
}
.logo{
    width: 150px;
    height: 100px;
    float:left;
    margin-left:12px;
  }     
  input[type=searchbox]{
    
      margin-top: 30px;
      margin-left: 120px;
      border-color:blue;
      float:left;
      margin-bottom:15px;
      height:40px;
      width:600px;
  }
  .fa-search {
    /* padding-top: 5px; */
    margin-top: 30px;
    width:30px;
    text-align:center;
    margin-right:20px;
    height: 40px;
    background:  #2E3292 !important;
    color:rgb(255,255,255);
    border-color: blue;
    
  }
  .fa-user{
       margin-left: 120px;
       font-size: 20px;
  }
   .fa-shopping-cart {
      margin-left:50px;
      font-size:20px;
      color:decoration-none;
    
   }
  
   .submain {
    font-size: 23px;
    margin-left: 30px;
    padding-top:11px;
    display: inline-block;
    cursor:pointer;
  }
   .item-cat {
      border:1px solid blue;
      text-align:center;
      background-color:rgb(90, 223, 145);
      color:white;
      padding-top:5px;
      display: none;
      } 
  .item-cat:hover {
    border: 1px solid blueviolet;
    background-color:aqua;
    display:inline-block;
  }
      
  
  .fa-angle-down{
    margin-left: 10px;
  }
  
.img{
    height:200px;
    margin-left:12px;
}
.but{
  width:150px;
  height:30px;
  background-color: lightgreen;
  border:none;
  cursor:pointer;
  border-radius: 10px;
  margin-left: 38px;
  margin-top:10px;
  }
  .but:hover{
    color:white;
    background-color: forestgreen;
  }
  .rs{
  
    color: darkgreen;
} 

.card:hover{
  background-color:whitesmoke;
}
.fa-search{
  border: 1px solid black;
  font-size: 20px;
  background-color: white;
}

footer{
  position: absolute;
  top: 2480px;
  height: 200px;
  width: 100%;
  text-align: center; 
  background-color:lightgrey;
  margin-top: 50px;
}
.foot{
  margin-top :20px; 
  font-size: 40px;
}
.text{
  
  font-size: 20px;
}

.nav1{
  
  height:120px;
}
.nav2{
  background-color:lightgray;
  height:50px;
}
.navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow:lightgray;
    z-index: 1;
    margin-left: 15px;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }