h2{
    text-align: center;
    margin-top:30px;
}
.source{
    border-radius: 60px;
    height:100px;
    float: left;
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 10px;
}
.source1{
    border-radius: 80px;
    height:80px;
    float: left;
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 10px;
}

.describ{
     color:black;
    display:inline;
    font-size: 15px;
    margin-right:10px;
    }
.tit{

    font-size:20px;
    margin-top:12px;
    margin-bottom:5px;
    
}  
.fieldleft{
     
     float:left;
     
     width:45%;
     height: 150px;
     border-bottom: 1px solid black;
} 
.fieldright{

     float:right;
    width:45%;
    height: 150px;
    border-bottom: 1px solid black;

} 
